<!DOCTYPE html>
<html lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить персональные данные</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить персональные данные</h3>
    <form class="needs-validation" style="max-width: 50vw" method="POST" th:action="${regirect}" th:object="${personForm}">
        <div class="col-sm-10">
            <p th:text="${pageName}" class="form-control-plaintext" id="pageName">
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{surname}"
                            name="surname"
                            type="text"
                            class="form-control"
                            id="surname"
                            placeholder="Фамилия"
                            required>
                    <label for="surname">Фамилия</label>
                    <div
                            class="alert alert-warning"
                            th:if="${#fields.hasErrors('surname')}"
                            th:errors="*{surname}">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{name}"
                            name="name"
                            type="text"
                            class="form-control"
                            id="name"
                            placeholder="Имя"
                            required>
                    <label for="name">Имя</label>
                    <div
                            class="alert alert-warning"
                            th:if="${#fields.hasErrors('name')}"
                            th:errors="*{name}">
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{patronymic}"
                            name="patronymic"
                            type="text"
                            class="form-control"
                            id="patronymic"
                            placeholder="Отчество">
                    <label for="name">Отчество</label>
                    <div
                            class="alert alert-warning"
                            th:if="${#fields.hasErrors('patronymic')}"
                            th:errors="*{patronymic}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" name="gender" id="gender" required>
                    <option selected value="default">Выберите пол </option>
                    <option th:each="gender : ${T(com.ds.model.enums.Gender).values()}"
                            th:value="${gender}" th:text="${gender.getGenderTextDisplay()}"></option>
                </select>
                <label for="gender">Пол</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input
                        th:field="*{birthDate}"
                        name="birthDate"
                        type="date"
                        class="form-control"
                        id="date"
                        placeholder="Дата рождения">
                <label for="date">Дата рождения</label>
                <div
                        class="alert alert-warning"
                        th:if="${#fields.hasErrors('birthDate')}"
                        th:errors="*{birthDate}">
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{phone}"
                            name="phone"
                            type="text"
                            class="form-control"
                            id="phone"
                            placeholder="Телефон">
                    <label for="name">Телефон</label>
                    <div
                            class="alert alert-warning"
                            th:if="${#fields.hasErrors('phone')}"
                            th:errors="*{phone}">
                    </div>
                </div>
            </div>
        </div>


        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>