<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Создать заказ</title>
</head>
<body>
<div layout:fragment="content">
    <hr class="hr"/>
    <h3>Создать заказ</h3>
    <form class="needs-validation" style="max-width: 50vw" method="POST" th:action="@{/orders/add}" th:object="${orderForm}">
    <div class="mt-3 row g-2">
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" name="goodTypeId" id="goodType" required>
                    <option selected value="default">Выберите необходимый тип товара</option>
                    <option th:each="goodType : ${goodTypes}"
                            th:value="${goodType.getId()}" th:text="${goodType.getGoodTypeName()}"></option>
                </select>
                <label for="goodType">Tип товара</label>
            </div>
        </div>
    </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{description}"
                            name="description"
                            type="text"
                            class="form-control"
                            id="description"
                            placeholder="Описание"
                            required>
                    <label for="description">Описание</label>
                    <div
                            class="alert alert-warning"
                            th:if="${#fields.hasErrors('description')}"
                            th:errors="*{description}">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
</form>
</div>
</body>
</html>