<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3"
        th:text="'Изменить данные о заказе ' + ${order.getId()}"></h3>
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/orders/update}" th:object="${orderForm}">
        <input type="hidden" name="id"
               th:value="${order.id}">
        <input type="hidden" name="status"
               th:value="${order.status}">
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" name="goodTypeId" id="goodType" required>
                    <option th:selected="${goodType.getId()}"
                            th:each="goodType : ${goodTypes}"
                            th:value="${goodType.getId()}" th:text="${goodType.getGoodTypeName()}"></option>
                </select>
                <label for="goodType">Tип товара</label>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="description" th:value="${order.getDescription()}" type="text"
                           class="form-control" id="description" placeholder="Описание" required>
                    <label for="description">Описание</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Изменить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>