<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Информация о заказе</title>
</head>
<body>
<form layout:fragment="content">
    <div class="mt-3">
        <h3 th:text="'Информация о заказе: ' + ${order.getId()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="number" class="col-sm-2 col-form-label">Номер</label>
                <div class="col-sm-10">
                    <p th:text="${order.id}" class="form-control-plaintext" id="number">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="goodType" class="col-sm-2 col-form-label">Тип товара</label>
                <div class="col-sm-10">
                    <p th:text="${order.goodTypeDto.goodTypeName}" class="form-control-plaintext" id="goodType">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="description" class="col-sm-2 col-form-label">Описание</label>
                <div class="col-sm-10">
                    <p th:text="${order.description}" class="form-control-plaintext" id="description">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="status" class="col-sm-2 col-form-label">Статус</label>
                <div class="col-sm-10">
                    <p th:text="${order.status.statusTextDisplay}" class="form-control-plaintext" id="status">
                </div>
            </div>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </form>
    </div>
</form>
</body>
</html>