<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Заказы воспитателей</title>
</head>
<body>
<div layout:fragment="content">
    <hr class="hr"/>
    <h3>Список всех заказов</h3>
    <div>
        <div class="col">
            <!--        <a sec:authorize="isAuthenticated() && (hasRole('Администратор'))"-->
            <a href="/orders/add"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить заказ</a>
        </div>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">№ заказа</th>
                <th scope="col">Тип заказа</th>
                <th scope="col">Описание</th>
<!--                <th scope="col">Воспитатель</th>-->
<!--                <th scope="col">Название группы</th>-->
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td>
                    <a class="text-link text-blue" th:href="'/orders/' + ${order.getId()}"
                       th:text="${order.getId()}"></a>
                </td>
                <td th:text="${order.getGoodTypeDto().getGoodTypeName()}"></td>
                <td th:text="${order.getDescription()}"></td>
<!--                <td>-->
<!--                    <a class="text-link text-blue" th:href="'/educators/' + ${educator.getId()}"-->
<!--                       th:text="${personService.getFio(educator.getPersonDto())}"></a>-->
<!--                </td>-->
<!--                <td><a class="text-link text-blue" th:href="'/groups/' + ${educator.getGroupDto().getId()}"-->
<!--                       th:text="${educator.getGroupDto().getName()}" id="name"></a>-->
<!--                </td>-->
                <!--                <td>-->
                <!--                    <a class="text-link text-blue" th:href="'/educators/' + ${educator.getId()}"-->
                <!--                       th:text="${personService.getFio(educator.getPersonDto())}"></a>-->
                <!--                </td>-->
                <td>
                    <div class="col-sm-10">
                        <p th:text="${order.getStatus()}" class="form-control-plaintext" id="status()">
                    </div>
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-success" th:href="'/orders/update/' + ${order.getId()}">Изменить</a>
                    <a th:if="${!order.isDeleted()}" class="btn btn-sm btn-outline-danger"
                       th:href="'/orders/delete/' + ${order.getId()}"
                       onclick="return confirm('Вы действительно хотите удалить заказ?');">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>