<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить воспитанника</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить воспитанника</h3>
    <form class="needs-validation" style="max-width: 50vw" method="POST" th:action="@{/childrens/add/current}"
          th:object="${childrenForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{personDto.surname}"
                            name="personDto.surname"
                            type="text"
                            class="form-control"
                            id="personDto.surname"
                            placeholder="Фамилия"
                            required>
                    <label for="personDto.surname">Фамилия воспитанника</label>
                    <div
                            class="alert alert-warning"
                            th:if="${#fields.hasErrors('personDto.surname')}"
                            th:errors="*{personDto.surname}">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{personDto.name}"
                            name="personDto.name"
                            type="text"
                            class="form-control"
                            id="personDto.name"
                            placeholder="Имя"
                            required>
                    <label for="personDto.name">Имя воспитанника</label>
                    <div
                            class="alert alert-warning"
                            th:if="${#fields.hasErrors('personDto.name')}"
                            th:errors="*{personDto.name}">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{personDto.patronymic}"
                            name="personDto.patronymic"
                            type="text"
                            class="form-control"
                            id="personDto.patronymic"
                            placeholder="Отчество">
                    <label for="personDto.patronymic">Отчество воспитанника</label>
                    <div
                            class="alert alert-warning"
                            th:if="${#fields.hasErrors('personDto.patronymic')}"
                            th:errors="*{personDto.patronymic}">
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="personDto.gender" id="personDto.gender" required>
                            <option selected value="default">Выберите пол воспитанника</option>
                            <option th:each="gender : ${T(com.ds.model.enums.Gender).values()}"
                                    th:value="${gender}" th:text="${gender.getGenderTextDisplay()}"></option>
                        </select>
                        <label for="personDto.gender">Пол воспитанника</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input
                                th:field="*{personDto.birthDate}"
                                name="personDto.birthDate"
                                type="date"
                                class="form-control"
                                id="personDto.birthDate"
                                placeholder="Дата рождения">
                        <label for="personDto.birthDate">Дата рождения воспитанника</label>
                        <div
                                class="alert alert-warning"
                                th:if="${#fields.hasErrors('personDto.birthDate')}"
                                th:errors="*{personDto.birthDate}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="officialRepresentativePersonId" id="adult" required>
                            <option selected value="default">Выберите родителя воспитанника</option>
                            <option th:each="person : ${adultPersons}"
                                    th:value="${person.getId()}" th:text="${personService.getFio(person)}"></option>
                        </select>
                        <label for="adult">Родитель воспитанника</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="groupId" id="group" required>
                            <option selected value="default">Выберите группу</option>
                            <option th:each="group : ${groups}"
                                    th:value="${group.getId()}" th:text="${group.getName()}"></option>
                        </select>
                        <label for="group">Группа</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>