<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить воспитанника</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить воспитанника</h3>
    <form class="needs-validation" style="max-width: 50vw" method="POST" th:action="@{/childrens/add/new}"
          th:object="${childrenForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{personDto.surname}"
                            name="personDto.surname"
                            type="text"
                            class="form-control"
                            id="personDto.surname"
                            placeholder="Фамилия"
                            required>
                    <label for="personDto.surname">Фамилия воспитанника</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{personDto.name}"
                            name="personDto.name"
                            type="text"
                            class="form-control"
                            id="personDto.name"
                            placeholder="Имя"
                            required>
                    <label for="personDto.name">Имя воспитанника</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{personDto.patronymic}"
                            name="personDto.patronymic"
                            type="text"
                            class="form-control"
                            id="personDto.patronymic"
                            placeholder="Отчество">
                    <label for="personDto.patronymic">Отчество воспитанника</label>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="personDto.gender" id="personDto.gender" required>
                            <option selected value="default">Выберите пол воспитанника</option>
                            <option th:each="gender : ${T(com.ds.model.enums.Gender).values()}"
                                    th:value="${gender}" th:text="${gender.getGenderTextDisplay()}"></option>
                        </select>
                        <label for="personDto.gender">Пол воспитанника</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input
                                th:field="*{personDto.birthDate}"
                                name="personDto.birthDate"
                                type="date"
                                class="form-control"
                                id="personDto.birthDate"
                                placeholder="Дата рождения">
                        <label for="personDto.birthDate">Дата рождения воспитанника</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input
                                th:field="*{officialRepresentativeDto.personDto.surname}"
                                name="officialRepresentativeDto.personDto.surname"
                                type="text"
                                class="form-control"
                                id="officialRepresentativeDto.personDto.surname"
                                placeholder="Фамилия родителя"
                                required>
                        <label for="officialRepresentativeDto.personDto.surname">Фамилия родителя</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input
                                th:field="*{officialRepresentativeDto.personDto.name}"
                                name="officialRepresentativeDto.personDto.name"
                                type="text"
                                class="form-control"
                                id="officialRepresentativeDto.personDto.name"
                                placeholder="Имя родителя"
                                required>
                        <label for="officialRepresentativeDto.personDto.name">Имя родителя</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input
                                th:field="*{officialRepresentativeDto.personDto.patronymic}"
                                name="officialRepresentativeDto.personDto.patronymic"
                                type="text"
                                class="form-control"
                                id="officialRepresentativeDto.personDto.patronymic"
                                placeholder="Отчество родителя">
                        <label for="officialRepresentativeDto.personDto.patronymic">Отчество родителя</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="officialRepresentativeDto.personDto.gender"
                                id="officialRepresentativeDto.personDto.gender" required>
                            <option selected value="default">Выберите пол родителя</option>
                            <option th:each="gender : ${T(com.ds.model.enums.Gender).values()}"
                                    th:value="${gender}" th:text="${gender.getGenderTextDisplay()}"></option>
                        </select>
                        <label for="officialRepresentativeDto.personDto.gender">Пол родителя</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input
                                th:field="*{officialRepresentativeDto.personDto.birthDate}"
                                name="officialRepresentativeDto.personDto.birthDate"
                                type="date"
                                class="form-control"
                                id="officialRepresentativeDto.personDto.birthDate"
                                placeholder="Дата рождения родителя">
                        <label for="officialRepresentativeDto.personDto.birthDate">Дата рождения воспитанника</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input
                                th:field="*{officialRepresentativeDto.address}"
                                name="officialRepresentativeDto.address"
                                type="text"
                                class="form-control"
                                id="officialRepresentativeDto.address"
                                placeholder="Адрес">
                        <label for="officialRepresentativeDto.address">Адрес</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input
                                th:field="*{officialRepresentativeDto.email}"
                                name="officialRepresentativeDto.email"
                                type="text"
                                class="form-control"
                                id="officialRepresentativeDto.email"
                                placeholder="email">
                        <label for="officialRepresentativeDto.email">email</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="groupId" id="group" required>
                            <option selected value="default">Выберите группу</option>
                            <option th:each="group : ${groups}"
                                    th:value="${group.getId()}" th:text="${group.getName()}"></option>
                        </select>
                        <label for="group">Группа</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>