<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Изменить воспитанника</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Изменить воспитанника</h3>
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/childrens/update}" th:object="${childrenForm}">
        <input type="hidden" name="id"
               th:value="${children.id}">
        <input type="hidden" name="personDto.id"
               th:value="${children.personDto.id}">
        <input type="hidden" name="personDto.gender"
               th:value="${children.personDto.gender}">
        <input type="hidden" name="personDto.isChild"
               th:value="${children.personDto.isChild}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:value="${children.getPersonDto().getSurname()}"
                            name="personDto.surname"
                            type="text"
                            class="form-control"
                            id="personDto.surname"
                            placeholder="Фамилия"
                            required>
                    <label for="personDto.surname">Фамилия воспитанника</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:value="${children.getPersonDto().getName()}"
                            name="personDto.name"
                            type="text"
                            class="form-control"
                            id="personDto.name"
                            placeholder="Имя"
                            required>
                    <label for="personDto.name">Имя воспитанника</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:value="${children.getPersonDto().getPatronymic()}"
                            name="personDto.patronymic"
                            type="text"
                            class="form-control"
                            id="personDto.patronymic"
                            placeholder="Отчество">
                    <label for="personDto.patronymic">Отчество воспитанника</label>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input
                                th:value="${children.getPersonDto.getBirthDate()}"
                                name="personDto.birthDate"
                                type="date"
                                class="form-control"
                                id="personDto.birthDate"
                                placeholder="Дата рождения">
                        <label for="personDto.birthDate">Дата рождения воспитанника</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="officialRepresentativePersonId" id="adult" required>
                            <option th:selected="${children.getOfficialRepresentativeDto().getPersonDto().getId()}"
                                    th:each="person : ${adultPersons}"
                                    th:value="${person.getId()}" th:text="${personService.getFio(person)}"></option>
                        </select>
                        <label for="adult">Родитель воспитанника</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="groupId" id="group" required>
                            <option th:selected="${children.getGroupDto().getId()}"
                                    th:each="group : ${groups}"
                                    th:value="${group.getId()}" th:text="${group.getName()}"></option>
                        </select>
                        <label for="group">Группа</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Изменить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>