<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Воспитаники детского сада</title>
</head>
<body>
<div layout:fragment="content">
    <hr class="hr"/>
    <h3>Список всех воспитанников</h3>
    <div>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Официальный представитель</th>
                <th scope="col">Название группы</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="children : ${childrens}">
                <td>
                    <a class="text-link text-blue" th:href="'/childrens/' + ${children.getId()}"
                       th:text="${personService.getFio(children.getPersonDto())}"></a>
                </td>
                <td>
                    <a class="text-link text-blue" th:href="@{'~/childrens/representatives/' + ${children.getOfficialRepresentativeDto().getId()}}"
                       th:text="${personService.getFio(children.getOfficialRepresentativeDto().getPersonDto())}"></a>
                </td>
                <td><a class="text-link text-blue" th:href="'/groups/' + ${children.getGroupDto().getId()}"
                       th:text="${children.getGroupDto().getName()}" id="name"></a>
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-success" th:href="'/childrens/update/' + ${children.getId()}">Изменить</a>
                    <a class="btn btn-sm btn-outline-success" th:href="'/childrens/representative/update/' + ${children.getOfficialRepresentativeDto().getId()}">Изменить родителя</a>
                    <a th:if="${!children.isDeleted()}" class="btn btn-sm btn-outline-danger"
                       th:href="'/childrens/delete/' + ${children.getId()}"
                       onclick="return confirm('Вы действительно хотите удалить воспитанника?');">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col">
            <a href="childrens/add/new"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить нового воспитанника</a>
        </div>
        <div class="col">
            <a href="childrens/add/current"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить воспитанника к существующему родителю</a>
        </div>
    </div>
</div>
</body>
</html>