<!DOCTYPE html>
<html lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Информация о воспитаннике</title>
</head>
<body>
<form layout:fragment="content">
    <div class="mt-3">
        <h3 th:text="'Информация о воспитаннике: ' + ${personService.getFio(children.getPersonDto())}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="childrenName" class="col-sm-2 col-form-label no-border">Фамилия:</label>
                <div class="col-sm-10">
                    <p th:text="${children.getPersonDto().getName()}" class="form-control-plaintext" id="childrenName">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="childrenSurname" class="col-sm-2 col-form-label no-border">Имя:</label>
                <div class="col-sm-10">
                    <p th:text="${children.getPersonDto().getSurname()}" class="form-control-plaintext" id="childrenSurname">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="childrenPatronymic" class="col-sm-2 col-form-label no-border">Отчество:</label>
                <div class="col-sm-10">
                    <p th:text="${children.getPersonDto().getPatronymic()}" class="form-control-plaintext" id="childrenPatronymic">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="childrenBirthDate" class="col-sm-2 col-form-label">Дата рождения:</label>
                <div class="col-sm-10">
                    <p th:text="${children.getPersonDto().getBirthDate()}" class="form-control-plaintext" id="childrenBirthDate">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="gender" class="col-sm-2 col-form-label">Пол:</label>
                <div class="col-sm-10">
                    <p th:text="${children.getPersonDto().getGender().getGenderTextDisplay()}" class="form-control-plaintext" id="gender">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="group" class="col-sm-2 col-form-label">Группа:</label>
                <div class="col-sm-10">
                    <a class="text-link text-blue" th:href="'/groups/' + ${children.getGroupDto().getId()}"
                       th:text="${children.getGroupDto().getName()}" id="group"></a>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="officialRepresentative" class="col-sm-2 col-form-label">Официальный представитель:</label>
                <div class="col-sm-10">
                    <a class="text-link text-blue" th:href="@{'~/childrens/representatives/' + ${children.getOfficialRepresentativeDto().getId()}}"
                       th:text="${personService.getFio(children.getOfficialRepresentativeDto().getPersonDto())}" id="officialRepresentative"></a>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </form>
    </div>
</form>
</body>
</html>