<!DOCTYPE html>
<html lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Информация о представителе</title>
</head>
<body>
<form layout:fragment="content">
    <div class="mt-3">
        <h3 th:text="'Информация о представителе: ' + ${personService.getFioById(representative.getPersonId())}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="representativeName" class="col-sm-2 col-form-label no-border">Фамилия:</label>
                <div class="col-sm-10">
                    <p th:text="${representative.getPersonDto().getName()}" class="form-control-plaintext" id="representativeName">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="representativeSurname" class="col-sm-2 col-form-label no-border">Имя:</label>
                <div class="col-sm-10">
                    <p th:text="${representative.getPersonDto().getSurname()}" class="form-control-plaintext" id="representativeSurname">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="representativePatronymic" class="col-sm-2 col-form-label no-border">Отчество:</label>
                <div class="col-sm-10">
                    <p th:text="${representative.getPersonDto().getPatronymic()}" class="form-control-plaintext" id="representativePatronymic">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="representativeBirthDate" class="col-sm-2 col-form-label">Дата рождения:</label>
                <div class="col-sm-10">
                    <p th:text="${representative.getPersonDto().getBirthDate()}" class="form-control-plaintext" id="representativeBirthDate">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="gender" class="col-sm-2 col-form-label">Пол:</label>
                <div class="col-sm-10">
                    <p th:text="${representative.getPersonDto().getGender().getGenderTextDisplay()}" class="form-control-plaintext" id="gender">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="representativeAddress" class="col-sm-2 col-form-label no-border">Адрес:</label>
                <div class="col-sm-10">
                    <p th:text="${representative.getAddress()}" class="form-control-plaintext" id="representativeAddress">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="representativeEmail" class="col-sm-2 col-form-label no-border">email:</label>
                <div class="col-sm-10">
                    <p th:text="${representative.getEmail()}" class="form-control-plaintext" id="representativeEmail">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-sm-2 col-form-label">Дети:</label>
            </div>
            <div class="mb-2 row" th:each="childrenId : ${representative.getChildrensIds()}">
                <label class="col-sm-2 col-form-label">      </label>
                <div class="col-sm-10">
                    <a class="text-link text-blue" th:href="@{'~/childrens/' + ${childrenId}}"
                       th:text="${childrenService.getFioById(childrenId)}" id="children"></a>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </form>
    </div>
</form>
</body>
</html>