<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Заказы воспитателей</title>
</head>
<body>
<div layout:fragment="content">
    <hr class="hr"/>
    <h3>Список всех заказов</h3>
    <div>
        <div class="col">
            <!--        <a sec:authorize="isAuthenticated() && (hasRole('Администратор'))"-->
            <a href="/storages/add"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить товар</a>
        </div>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
<!--                <th scope="col">ID</th>-->
                <th scope="col">Тип товара</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Количество</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="storage : ${storages}">
<!--                <td>-->
<!--                    <a class="text-link text-blue" th:href="'/storages/' + ${storage.getId()}"-->
<!--                       th:text="${storage.getId()}"></a>-->
<!--                </td>-->
                <td th:text="${storage.getGoodTypeDto().getGoodTypeName()}"></td>
                <td th:text="${storage.getComments()}"></td>
                <td th:text="${storage.getQuantity()}"></td>
                <td>
                    <a class="btn btn-sm btn-outline-success" th:href="'/storages/update/' + ${storage.getId()}">Изменить</a>
                    <a th:if="${!storage.isDeleted()}" class="btn btn-sm btn-outline-danger"
                       th:href="'/storages/delete/' + ${storage.getId()}"
                       onclick="return confirm('Вы действительно хотите удалить товар со склада?');">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>