<!DOCTYPE html>
<html lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить группу</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить группу</h3>
    <form class="needs-validation" style="max-width: 50vw" method="POST" th:action="@{/groups/add}" th:object="${groupForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input
                            th:field="*{name}"
                            name="name"
                            type="text"
                            class="form-control"
                            id="name"
                            placeholder="Название группы">
                    <label for="name">Название группы</label>
                    <div
                            class="alert alert-warning"
                            th:if="${#fields.hasErrors('name')}"
                            th:errors="*{name}">
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="groupType" id="groupType" required>
                            <option selected value="default">Выберите тип группы по возрасту воспитанников</option>
                            <option th:each="groupType : ${T(com.ds.model.enums.GroupType).values()}"
                                    th:value="${groupType}" th:text="${groupType.getTypeTextDisplay()}"></option>
                        </select>
                        <label for="groupType">Тип</label>
                    </div>
                </div>
            </div>



            <!--<div class="col-md">
                <div class="form-floating">
                   &lt;!&ndash; Название поля инпута должно строго соответствовать названию поля класса (DTO)&ndash;&gt;
                    <input
                            th:field="*{name}"
                            name="name"
                            type="text"
                            class="form-control"
                            id="name"
                            placeholder="Название группы">
                    <label for="name">Название группы</label>
                    <div
                            class="alert alert-warning"
                            th:if="${#fields.hasErrors('name')}"
                            th:errors="*{name}">
                    </div>
                </div>
            </div>
        </div>-->
       <!-- <div class="col-md">
        <div class="form-floating">
          <select class="form-select" name="type" id="type" required>
            <option selected value="default">Выберите тип группы по возрасту воспитанников</option>
            <option th:each="type : ${T(package com.ds.model.enums.GroupTypepType).values()}"
                    th:value="${type}" th:text="${type.getTypeTextDisplay()}"></option>
          </select>
          <label for="type">Тип</label>
        </div>
      </div>-->
         <!--   <div class="col-md">
                <div class="form-floating">
          <textarea
                  th:field="*{description}"
                  name="description"
                  type="text"
                  class="form-control"
                  id="description"
                  placeholder="Описание"></textarea>
                    <label for="description">Описание</label>
                    <div
                            class="alert alert-warning"
                            th:if="${#fields.hasErrors('description')}"
                            th:errors="*{description}">
                    </div>
                </div>
            </div>-->
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>