<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Изменить данные о группе</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3"
        th:text="'Изменить данные о группе ' + ${group.name}"></h3>
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/groups/update}" th:object="${groupForm}">
        <input type="hidden" name="id"
               th:value="${group.id}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="name" th:value="${group.name}" type="text"
                           class="form-control" id="name" placeholder="Название группы" required>
                    <label for="name">Название группы</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="type" id="type" required th:object="${group}" th:field="*{type}">
                        <option th:each="type : ${T(com.ds.model.enums.Type).values()}"
                                th:value="${type}" th:text="${type.getTypeTextDisplay()}"></option>
                    </select>
                    <label for="type">Тип</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Изменить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>