<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Информация о группе</title>
</head>

<body>
<form layout:fragment="content">
    <div class="mt-3">
        <h3 th:text="'Информация о группе: ' + ${group.getName()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="groupType" class="col-sm-2 col-form-label">Тип:</label>
                <div class="col-sm-10">
                    <p th:text="${group.getGroupType().getTypeTextDisplay()}" class="form-control-plaintext" id="groupType">
                </div>
            </div>

            <form class="row g-1">
                <h4 class="mt-3 mb-3" th:text="'Воспитатели'"></h4>
                <div th:each="educator : ${group.getEducatorDtos()}">
                    <div class="mb-2 row">
                        <label for="educator_fio" class="col-sm-2 col-form-label">ФИО:</label>
                        <div class="col-sm-10">
                            <a class="text-link text-blue" th:href="'/educators/' + ${educator.getId()}" th:text="${educator.getPerson().getFio()}" id="educator_fio"></a>
                        </div>
                    </div>
                </div>
            </form>
            <form class="row g-1">
                <h4 class="mt-3 mb-3" th:text="'Дети'"></h4>
                <div th:each="children : ${group.getChildrenDtos()}">
                    <div class="mb-2 row">
                        <label for="child_fio" class="col-sm-2 col-form-label">ФИО:</label>
                        <div class="col-sm-10">
                            <a class="text-link text-blue" th:href="'/childrens/' + ${children.getId()}" th:text="${children.getPerson().getFio()}" id="child_fio"></a>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="child_date_birth" class="col-sm-2 col-form-label">Дата рождения:</label>
                        <div class="col-sm-10">
                            <p th:text="${children.getPerson().getBirthDate()}" class="form-control-plaintext" id="child_date_birth">
                        </div>
                    </div>
                </div>
            </form>
<!--            todo добавить возможность добавления/удаления/переноса ребёнка в другую группу-->
<!--            todo к каждому ребёнку добавить календарь посещений, если останется время-->
        </form>
    </div>
</form>
</body>
</html>