<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Группы детского сада</title>
</head>
<body>
<div layout:fragment="content">
    <hr class="hr"/>
    <h3>Список всех групп</h3>
    <div>
        <div class="col">
            <!--        <a sec:authorize="isAuthenticated() && (hasRole('Администратор'))"-->
            <a href="/groups/add"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить группу</a>
        </div>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Название группы</th>
                <th scope="col">Тип группы</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group : ${groups}">
                <td>
                    <a class="text-link text-blue" th:href="'/groups/' + ${group.getId()}"
                       th:text="${group.getName()}"></a>
                </td>
                <td th:text="${group.getGroupType().getTypeTextDisplay()}"></td>
                <td>
                    <a class="btn btn-sm btn-outline-success" th:href="'/groups/update/' + ${group.getId()}">Изменить</a>
                    <a th:if="${!group.isDeleted()}" class="btn btn-sm btn-outline-danger"
                       th:href="'/groups/delete/' + ${group.getId()}"
                       onclick="return confirm('Вы действительно хотите удалить группу?');">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>