<header xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        th:fragment="header">
    <nav class="navbar navbar-expand-md fixed-top" style="background-color: #b84f3c">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: whitesmoke">Система управления ДОУ </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/educators">Воспитатели</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/groups">Группы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/childrens">Дети</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/good/types">Типы товаров</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/orders">Заказы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/storages">Склад</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/authors">Авторы</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && (hasRole('USER') || hasRole('LIBRARIAN'))" class="nav-item">
                        <a class="nav-link" aria-current="page" href="/rent/user-books">Мои книги</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))" class="nav-item">
                        <a class="nav-link" aria-current="page" href="/users">Пользователи</a>
                    </li>-->
                </ul>
                <!--<div sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                    <a class="nav-link active" style="float: right" th:href="'/users/profile/' + ${#authentication.getPrincipal().getUserId()}">Профиль</a>
                </div>-->

                <!--<form class="d-flex" sec:authorize="!isAuthenticated()">
                    <a href="/login" class="btn btn-primary" role="button" aria-disabled="true">Войти</a>
                </form>
                <form class="d-flex" sec:authorize="isAuthenticated()">
                    <a href="/logout" class="btn btn-primary" role="button" aria-disabled="true">Выйти</a>
                </form>-->
            </div>
        </div>
    </nav>
</header>
