<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить воспитателя</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить воспитателя</h3>
    <form class="needs-validation" style="max-width: 50vw" method="POST" th:action="@{/educators/add/current}"
          th:object="${educatorForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="personId" id="person" required>
                        <option selected value="default">Выберите ФИО воспитателя</option>
                        <option th:each="person : ${adultPersons}"
                                th:value="${person.getId()}" th:text="${personService.getFio(person)}"></option>
                    </select>
                    <label for="person">Воспитатель</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="groupId" id="group" required>
                        <option selected value="default">Выберите группу</option>
                        <option th:each="group : ${groups}"
                                th:value="${group.getId()}" th:text="${group.getName()}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>