<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Изменить данные о воспитателе</h3>
    <h3 class="mt-3 mb-3"
        th:text="'Изменить данные о воспитателе ' + ${personService.getFio(educator.getPersonDto())}"></h3>
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/educators/update}" th:object="${educatorForm}">
        <input type="hidden" name="id"
               th:value="${educator.id}">
        <input type="hidden" name="personDto.id"
               th:value="${educator.personDto.id}">
        <input type="hidden" name="personDto.gender"
               th:value="${educator.personDto.gender}">
        <input type="hidden" name="personDto.isChild"
               th:value="${educator.personDto.isChild}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="personDto.surname" th:value="${educator.getPersonDto().getSurname()}" type="text"
                           class="form-control" id="personDto.surname" placeholder="Фамилия" required>
                    <label for="personDto.surname">Фамилия</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="personDto.name" th:value="${educator.getPersonDto().getName()}" type="text"
                           class="form-control" id="personDto.name" placeholder="Имя" required>
                    <label for="personDto.name">Имя</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="personDto.patronymic" th:value="${educator.getPersonDto().getPatronymic()}" type="text"
                           class="form-control" id="personDto.patronymic" placeholder="Отчество" required>
                    <label for="personDto.patronymic">Отчество</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="personDto.birthDate" th:value="${educator.getPersonDto.getBirthDate()}" type="date"
                           class="form-control" id="personDto.birthDate" placeholder="Дата рождения" required>
                    <label for="personDto.birthDate">Дата рождения</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="personDto.phone" th:value="${educator.getPersonDto.getPhone}" type="text" class="form-control"
                           id="personDto.phone" placeholder="Телефон" required>
                    <label for="personDto.phone">Телефон</label>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" name="groupId" id="groupId" required th:object="${educator}"
                        th:field="*{groupId}">
                    <option th:selected="${educator.getGroupDto().getId()}"
                            th:each="group : ${groups}"
                            th:value="${group.getId()}" th:text="${group.getName()}"></option>
                </select>
                <label for="groupId">Группа</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Изменить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>