<!DOCTYPE html>
<html lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Воспитатели детского сада</title>
</head>
<body>
<div layout:fragment="content">
    <hr class="hr"/>
    <h3>Список всех воспитателей</h3>
    <div>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Название группы</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="educator : ${educators}">
                <td>
                    <a class="text-link text-blue" th:href="'/educators/' + ${educator.getId()}"
                       th:text="${personService.getFio(educator.getPersonDto())}"></a>
                </td>
                <td><a class="text-link text-blue" th:href="'/groups/' + ${educator.getGroupDto().getId()}"
                       th:text="${educator.getGroupDto().getName()}" id="name"></a>
                </td>

                <td>
                    <a class="btn btn-sm btn-outline-success" th:href="'/educators/update/' + ${educator.getId()}">Изменить</a>
                    <a th:if="${!educator.isDeleted()}" class="btn btn-sm btn-outline-danger"
                       th:href="'/educators/delete/' + ${educator.getId()}"
                       onclick="return confirm('Вы действительно хотите удалить воспитателя?');">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col">
            <a href="educators/add/new"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить нового воспитателя</a>
        </div>
        <div class="col">
            <a href="educators/add/current"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить воспитателя из существующих физлиц</a>
        </div>
    </div>
</div>
</body>

</html>