<!DOCTYPE html>
<html lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Информация о воспитателе</title>
</head>
<body>
<form layout:fragment="content">
    <div class="mt-3">
        <h3 th:text="'Информация о воспитателе: ' + ${personService.getFio(educator.getPersonDto())}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="educatorSurname" class="col-sm-2 col-form-label no-border">Фамилия:</label>
                <div class="col-sm-10">
                    <p th:text="${educator.getPersonDto().getSurname()}" class="form-control-plaintext" id="educatorSurname">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="educatorName" class="col-sm-2 col-form-label no-border">Имя:</label>
                <div class="col-sm-10">
                    <p th:text="${educator.getPersonDto().getName()}" class="form-control-plaintext" id="educatorName">
                </div>
            </div>

           <div class="mb-2 row">
                <label for="educatorPatronymic" class="col-sm-2 col-form-label no-border">Отчество:</label>
                <div class="col-sm-10">
                    <p th:text="${educator.getPersonDto().getPatronymic()}" class="form-control-plaintext" id="educatorPatronymic">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="educatorBirthDate" class="col-sm-2 col-form-label">Дата рождения:</label>
                <div class="col-sm-10">
                    <p th:text="${educator.getPersonDto().getBirthDate()}" class="form-control-plaintext" id="educatorBirthDate">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="gender" class="col-sm-2 col-form-label">Пол:</label>
                <div class="col-sm-10">
                    <p th:text="${educator.getPersonDto().getGender().getGenderTextDisplay()}" class="form-control-plaintext" id="gender">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="phone" class="col-sm-2 col-form-label">Телефон:</label>
                <div class="col-sm-10">
                    <p th:text="${educator.getPersonDto().getPhone()}" class="form-control-plaintext" id="phone">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="group" class="col-sm-2 col-form-label">Группа:</label>
                <div class="col-sm-10">
                    <a class="text-link text-blue" th:href="'/groups/' + ${educator.getGroupDto().getId()}"
                       th:text="${educator.getGroupDto().getName()}" id="group"></a>
                </div>
            </div>

            <td>
                <a class="btn btn-sm btn-outline-success" th:href="'/educators/update/' + ${educator.getId()}">Обновить</a>
                <a th:if="${!educator.isDeleted()}" class="btn btn-sm btn-outline-danger"
                   th:href="'/educators/delete/' + ${educator.getId()}"
                   onclick="return confirm('Вы действительно хотите удалить воспитателя?');">Удалить воспитателя</a>
            </td>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </form>
    </div>
</form>
</body>
</html>