<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Типы товаров для заказов</title>
</head>
<body>
<div layout:fragment="content">
  <hr class="hr"/>
  <h3>Список всех типов товаров</h3>
  <div>
    <div class="col">
      <!--        <a sec:authorize="isAuthenticated() && (hasRole('Администратор'))"-->
      <a href="/good/types/add"
         class="btn btn-success"
         role="button"
         style="float: right"
         aria-disabled="true">Добавить тип</a>
    </div>
    <table class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">Название </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="goodType : ${goodTypes}">
        <td>
          <div class="col-sm-10">
            <p th:text="${goodType.getGoodTypeName()}" class="form-control-plaintext" id="goodTypeName()">
          </div>
        </td>

        </td>
        <td>
          <a th:if="${!goodType.isDeleted()}" class="btn btn-sm btn-outline-danger"
             th:href="'/good/types/delete/' + ${goodType.getId()}"
             onclick="return confirm('Вы действительно хотите удалить товар?');">Удалить</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>